* {
    margin: 0;
    padding: 0;
}
:root {
    --primary: #5a784e;
}
body {
    background-color: #ffffff;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar img {
    filter: invert(100%); 
}
.sidebar {
    color: white;
    background-color: var(--primary);
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-auto-rows: min-content;
    gap: 40px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 15px;
}
.sidebar h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.sideTop {
    display: grid;
    grid-template-columns: 70px 3fr;
    align-items: center;
}
.sideMiddle,
.sideBottom {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center; 
    grid-auto-columns: min-content;
    gap: 15px 0px;
}

.sidebar .logo {
    width: 50px;
    justify-self: center;
}
.icon {
    width: 25px;
    justify-self: center;
}
.header {
    background-color: #ffffff;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px 2vw 0px 2vw;
}
.headerTop {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
}
#headerTL {
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchBar {
    background-color: #dddfd9;
    width: 37vw;
    padding: 7px;
    border-radius: 10px;
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#headerTR {
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#profile-picture {
    width: 50px;
}
.headerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerBL {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.headerBL h5,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headerBR button {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    transition: all .5s;
}
.headerBR button:hover {
    padding: 12px;
}
#profile-welcome{
    width: 70px;
    height: 70px;
}
.main {
    background-color: #dddfd9;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    gap: 20px;
}
.projectsSection {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.projectCard {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid rgb(178, 187, 156) 15px;
    transition: all .5s;
}
.projectCard h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}
.projectCard p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(81, 81, 81);
    font-size: 15px;
}
.projectCard:hover {
    border-left: solid rgb(130, 149, 108) 15px;
    height: 17vh
}
.otherSection {
    grid-column: 2;
}
.classIcon {
    width: 15px;
}
#timelineHeading {
    margin-top: 10px;
}
.announcements, 
.timeline {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    
}
.rightSection p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.rightSection h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.announcementCard {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#profile-picture,
#profile-welcome,
#notif {
    transition: all .5s;
}
#profile-picture:hover, 
#profile-welcome:hover, 
#notif:hover {
    transform: rotate(9deg);
}
.sidebar h3, .sideTop h1 {
    transition: all .3s;
}
.sidebar h3:hover,
.sideTop h1:hover {
    color: #bdbdbd;
}