* {
    margin: 0;
    padding: 0;
}
:root {
    --primary: #5a784e;
}
body img  {
}
body {
    background-color: #ffffff;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    grid-template-rows: 1fr 4fr;
}
.container > * {
    border: solid red 3px;
}
.sidebar img {
    filter: invert(100%); 
}
.sidebar {
    color: white;
    background-color: var(--primary);
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-auto-rows: min-content;
    gap: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.sidebar h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.sideTop {
    display: grid;
    grid-template-columns: 70px 3fr;
    align-items: center;
}
.sideMiddle,
.sideBottom {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center; 
    grid-auto-columns: min-content;
    gap: 15px 0px;
}

.sideMiddle > * {
    /* border: solid blue; */
}
.sidebar > * {
    /* border: solid yellow; */
}
.sidebar .logo {
    width: 50px;
    justify-self: center;
}
.icon {
    width: 25px;
    justify-self: center;
}
.header {
    background-color: #ffffff;
    grid-row: 1;
    grid-column: 2;
}
.main {
    background-color: #dddfd9;
    grid-column: 2;
    grid-row: 2;
}